#head-logo{
	opacity: 0.3;
}
#head-logo:hover{
	opacity:1;
}
ul>li.asp{list-style-image:url(images/checkmark.png)
}
#about>p{line-height: 50px;
	text-align:left;
	font-size:150%;
	text-height=50px;
}
#comit-text>p{
	font-size:190%;
	text-height=50px;
	position:relative;
	left:260px;
	text-align:left;
	bottom:50px;
}
#comit-text>ul{
	bottom:90px;
	text-height=50px;
	position:relative;
	inline-height:15px;
	left:350px;
	text-align:left;
}
#comit-text>ul>li{
	list-style-image:url(images/checkmark.png)
	
}

#text-log{
		font-size:210%;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
}
#header-fol{
	font-size:60px;
}
#tag-1{
	font-size:25px;
	text-transform:none;
}
div>img.mvs{
	position: absolute;
	width:600; height: 700px;
	left: 1000px; top:730px; 
}
	

div>h2{line-height: 50px;
	top:55px;
	position: relative;
    left: 230px;
    height: 50px;
    text-align: left;
}
div>ul>li.aspi{line-height: 50px;
	top:55px;
	position: relative;
    left: 270px;
	font-size: 110%;
    height: 50px;
    text-align: left;
	list-style-image:url(images/checkmark.png)}
}
	

